body{
    display: flex;
}
.contactos {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    min-height: 100vh;
    background-color: blueviolet;
}
.cards{
    display: flex;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15em;
    border: solid 2px;
    margin: 5px;
    padding: 5px;
}
.card-body{
    display: flex;
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
}
.foto-perfil{
    height: 3em;
    border-radius: 50px;
    flex-grow: 1;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    min-height: 100vh;
    flex-basis: 80%;
}
.icono{
    display: flex;
    justify-content: end;
}

.logo {
    width: 10em;
    height: 10em;
}
/* font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */