body {
    display: flex;
    flex-direction: row;
}

.contactos {
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    min-height: 100vh;
    background-color: #fff;
}

.cards {
    flex-direction: column;

}

.card {
    display: flex;
    flex-direction: row;
    align-items: space-around;
    width: 15em;
    height: 60px;
    border: #bec1bb solid 2px;

}

.card1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 15em;
    height: 150px;
    border: #bec1bb solid 2px;

}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

}

.text {
    margin-left: 15px;
}

.foto-perfil {
    height: 5em;
    border-radius: 50px;

}

.icono {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: center;

}

.icono1 {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 1em;
}


.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e8ebe4;
    min-height: 100vh;
    flex-basis: 95%;
}

.boton {
    background-color: #a491d2;
    color: white;
    width: 150px;
    height: 50px;
}

.central {
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 15em;
    height: 15em;
}

.mensaje {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

/* font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif; */